body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #ce3535;
}
input[type="number"] {
    width: 60px;
}